<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: "navbar-brand logo-nav" do %>
          <%= image_tag("logo.png") %>
        <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="<%= params[:controller] == 'pages' && params[:action] == 'about' ? 'active' : '' %>">
            <%= link_to root_path do %>
              About <span>About Me</span> <span class="sr-only">(current)</span>
            <% end %>
            
          </li>
          <li class="<%= params[:controller] == 'projects' && params[:action] == 'index' ? 'active' : '' %>">
            <%= link_to projects_path do %>
              Projects <span>My Rails Project</span>
            <% end %>
          </li>
          <li class="<%= params[:controller] == 'pages' && params[:action] == 'skill' ? 'active' : '' %>">
            <%= link_to skill_path do %>
              Skills <span>My Skills</span>
            <% end %>
          </li>
          <li class="<%= params[:controller] == 'contacts' ? 'active' : '' %>">
            <%= link_to new_contact_path do %>
              Contact <span>Get in Touch</span>
            <% end %>
          </li>
          <li class="<%= params[:controller] == 'pages' && params[:action] == 'hire' ? 'active' : '' %>">
            <%= link_to hire_path do %>
              Hire Me <span>Skills to hire</span>
            <% end %>
          </li>

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </div>
</nav>